<!doctype html>
<html>
<head>
    <title>Travels and Stuffs</title>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/static/js/functions.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    
    {% if session.get("user_id") %}
        <a href="/profile">Home</a>
        <a href="/logout">Logout</a>
    {% else %}
        <p>Home</p>
        <form action="/login" method="POST">
            <lable>
                Email<input type="text" name="email">
            </label>
            <label>
                Password<input type="password" name="user-password">
            </label>
            <input type="submit" value="Login">
        </form>
        or
        <form action="/user-reg-form">
            <button type="submit">Signup</button>
        </form>
    {% endif %}

    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>


    <h1>Travels and Stuffs</h1>

    {% block content %} put your content here {% endblock %}

</body>
</html>