<!doctype html>
<html>
<head>
    <title>Fare Share</title>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/base.js"></script>
    {% block head_stuff %} 
    {% endblock %}
</head>
<body>
  <!-- logged in nav bar -->
{% if session.get("user_id") %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Fare Share</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/profile">My Trips</a></li>
        <li><a href="/trip/add" id="addTrip">Add New Trip</a></li>
        {% block navbar %}
        {% endblock %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/settings">Settings</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- open add trip modal -->
<div id="addTripConf"></div>

<!-- add trip modal -->
<div id="addTripModal">
  <!-- Modal content -->
  <div id="add-trip-modal-content">
      <span id="closeAddTripModal" class="close">x</span>
      <form id="trip-add" action="/trip/create-new" method="POST">
          <input id="trip_name" type="text" name="trip_name" autocomplete="off" placeholder="Trip Name">
          <div id="trip-user-add">
              Add up to 4 other users to this trip:
              <input id="trip_user1" type="text" name="trip_user1" autocomplete="off" >
              <input id="trip_user2" type="text" name="trip_user2" autocomplete="off">
              <input id="trip_user3" type="text" name="trip_user3" autocomplete="off">
              <input id="trip_user4" type="text" name="trip_user4" autocomplete="off">
              <input id="trip-add-submit" type="submit" value="add">
          </div>
      </form>
  </div>

</div>

<br>

<script type="text/javascript">
  // open and close add trip modal

  // Get the modal
  var addTripModal = document.getElementById('addTripModal');

  // Get the button that opens the modal
  var addTripLink = document.getElementById("addTrip");

  // Get the <span> element that closes the modal
  var closeAddTripModalSpan = document.getElementById("closeAddTripModal");

  // When the user clicks on the button, open the modal 
  addTripLink.onclick = function(evt) {
      evt.preventDefault();
      addTripModal.style.display = "block";
  }   

  // When the user clicks on <span> (x), close the modal
  closeAddTripModalSpan.onclick = function(evt) {
  addTripModal.style.display = "none";
  }

  // add trip ajax call

  function showAddedTrip(result) {
        debugger;
      $("#addTripModal").hide();
      $("#addTripConf").val("Trip Added")
      }

  function addTrip(evt) {
    evt.preventDefault();

      var trip_name = $("#trip_name").val()

      var trip_user1 = $("#trip_user1").val()

      var trip_user2 = $("#trip_user2").val()

      var trip_user3 = $("#trip_user3").val()

      var trip_user4 = $("#trip_user4").val()

    $.ajax({type: "POST",
      url: "/trip/create-new",
      data: {"trip_name": trip_name,
             "trip_user1": trip_user1,
             "trip_user2": trip_user2,
             "trip_user3": trip_user3,
             "trip_user4": trip_user4,},
      success: showAddedTrip
    });
  }

    $("#trip-add").on("submit", addTrip);

</script>

{% else %}
<!-- logged out navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Fare Share</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" action="/login" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" id="navbar-email" name="email" placeholder="Email">
          <input type="password" class="form-control" id="navbar-password" name="user-password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" action="/user-reg-form">
          <div class="form-group">
            <button type="submit" class="btn btn-default">Signup</button>
          </div>
        </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endif %}

<!-- flashed messages -->
  <ul>
      {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
      {% endfor %}
  </ul>

{% block content %} put your content here {% endblock %}
</body>
</html>