{% extends 'base.html' %}
{% block content %}

<!-- page of trip tiles -->
<div class="big-trip-container">
{% for trip in trips %}
    <!-- divs containing each trip w/ trip name and delete glyphicon-->
    <div class="trip-div">
        <div class="trip-name">{{ trip.trip_name }}</div>
        <div>
            <a class="trip-link" id="{{ trip.trip_id}}" href="/trip/{{ trip.trip_id }}">
                <img class="trip-image" title="{{ trip.trip_name}}" src="{{ images_list[trip.trip_id] }}">
            </a>
            <div class="trash-container">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </div>
        </div>
        <!-- actually delete trip route that hides with 0 opacity in front of trash glyphicon -->
        <div class="delete-container">
            <form class="trip-form" action="/profile/trip-delete" method="POST">
                <input type="hidden" name="trip-id-delete" value="{{ trip.trip_id }}">
                <input class="trip-submit" type="submit" class="trip-delete" value="Delete">
            </form>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}