{% extends 'base.html' %}
{% block head_stuff %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.js"></script>
<style type="text/css">

    body {
        background-color: #021D42;
        font-family: sans-serif;
        color: white;
    }

    h1 {
        margin-top: 100px;
    }

</style>

{% endblock %}

{% block content %}

<h1>Settings: TBD</h1>
<a href="/profile">Back</a>
<div id="flight-prices-chart-container">
    <canvas id="flight-prices-chart"></canvas>
</div>

{% endblock %}