{% extends 'base.html' %}
{% block content %}
    
    <h1>{{ trip.trip_name }}: All the infos!</h1>

    <br>

    <h3>All the peoples
        <ul>
            {% for usertrip in trip.usertrips %}
            <li>
                {{ usertrip.user.user_name }}
            </li>
            {% endfor %}
        </ul>
    </h3>

    <a href="/trip/{{ trip.trip_id }}/search">Searches the stuffs</a>

    <br>

    <a href="/trip/{{ trip.trip_id }}/share">Sharing all the trips!</a>

    <p>All stuffs in here based on search results and whatnots</p>

    {% for usertrip in trip.usertrips %}
    {% if usertrip.user_id == session["user_id"] %}
        <p id="votedForOption">You voted for option: {{ usertrip.option_vote }}</p>
    {% endif %}
    {% endfor %}

    <!-- Trigger/Open The Modal -->
    <button id="vote">Vote for Option</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">x</span>
        <form id="option-vote">
        {% for option in options %}
        <br>
        <input class="options" type="radio" name="vote-option" value="{{ option.option_id }}"></input>
        <span style="font-size: 24px"><strong>Option {{ option.option_id }}: Traveling to {{ option.destination_airport.airport_city }} from {{ option.depart_date }} to {{ option.return_date }}</strong></span>
            {% for flight in option.flights %}
            {% for leg in flight.legs %}
            {% if leg.origin_airport_code == user.origin_airport_code %}
            <h4>Flight: {{ flight.flight_id }} Price: {{ flight.flight_price }}</h4>
            <table>
                <thead>
                    <th>
                        <td>Origin Airport</td>
                        <td>Departure Datetime</td>
                        <td>Destination Airport</td>
                        <td>Arrival Time</td>
                        <td>Flight ID</td>
                        <td>Flight Duration</td>
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ leg.origin_airport_code }}</td>
                        <td>{{ leg.departure_datetime }}</td>
                        <td>{{ leg.destination_airport_code }}</td>
                        <td>{{ leg.arrival_datetime }}</td>
                        <td>{{ leg.leg_airline }} {{ leg.leg_flight_code }}</td>
                        <td>{{ leg.leg_duration }}</td>
                    </tr>
                </tbody>
                {% endif %}
                {% endfor %}
            </table>
            {% endfor %}
        {% endfor %}
        <br>
        <input type="submit" value="vote" id="vote-button" data-trip='{{ trip.trip_id }}'>
        </form>
      </div>

    </div>

    <br>

    {% for option in options %}
    <br>
    <span style="font-size: 24px"><strong>Option {{ option.option_id }}: Traveling to {{ option.destination_airport.airport_city }} from {{ option.depart_date }} to {{ option.return_date }}</strong></span>
    <br>
    <form action="/trip/{{ trip.trip_id }}/option-delete" method="POST">
        <input type="hidden" name="option-id-delete" value="{{ option.option_id }}">
        <input type="submit" class="option-delete" value="Delete Option">
    </form>
    <form action="/trip/{{ trip.trip_id }}/option-update" method="POST">
        <input type="hidden" name="option-id-update" value="{{ option.option_id }}">
        <input type="submit" class="option-update" value="Update Option Results">
    </form>
        {% for flight in option.flights %}
        <h4>Flight: {{ flight.flight_id }} Price: {{ flight.flight_price }}</h4>
        <table>
            <thead>
                <th>
                    <td>Origin Airport</td>
                    <td>Departure Datetime</td>
                    <td>Destination Airport</td>
                    <td>Arrival Time</td>
                    <td>Flight ID</td>
                    <td>Flight Duration</td>
                </th>
            </thead>
            {% for leg in flight.legs %}
            <tbody>
                <tr>
                    <td>{{ leg.origin_airport_code }}</td>
                    <td>{{ leg.departure_datetime }}</td>
                    <td>{{ leg.destination_airport_code }}</td>
                    <td>{{ leg.arrival_datetime }}</td>
                    <td>{{ leg.leg_airline }} {{ leg.leg_flight_code }}</td>
                    <td>{{ leg.leg_duration }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endfor %}
    {% endfor %}

{% endblock %}

