{% extends 'base.html' %}
{% block head_stuff %}
    <meta charset=utf-8 />
    <title>Display latitude and longitude on marker movement</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
    <style>
      body { margin:0; padding:0; }
      #map { position:static; width:60%; height: 500px;}
    </style>
{% endblock %}

{% block content %}
    
    <h1>{{ trip.trip_name }}: All the Searchings!</h1>

    <h3>Flight Search</h3>

    <a href="/untitled">blahblahblah</a>

    <form id="flight_search">
      {% if option %}
        <label>
            Where do you want to go?<input id="destination-airport-code-reQ" type="text" name="destination" value="{{ option.destination_airport_code }}" autocomplete="off" maxlength="3">
        </label>
        Remember to validate that this airport doesn't match any of the origin airports
        <br>
        <label>
            When do you want to depart?<input id="depart-date-reQ" type="text" name="depart_date" value="{{ option.depart_date }}" autocomplete="off">
        </label>
        <br>
        <label>
            When are you coming back?<input id="return-date-reQ" type="text" name="return_date" value="{{ option.return_date }}" autocomplete="off">
        </label>
        <br>
        <button type="button" id="qpx-reQuery" data-origins='{{ origin_airport_codes }}' data-option="{{ option.option_id }}" data-trip='{{ trip.trip_id }}'> Update search</button>
      {% else %}
        <label>
            Where do you want to go? Pick a destination or place marker in map below.<input id="destination-airport-code" type="text" name="destination" autocomplete="off" maxlength="3">
        </label>
        Remember to validate that this airport doesn't match any of the origin airports
        <br>
        <label>
            When do you want to depart?<input id="depart-date" type="text" name="depart_date" autocomplete="off">
        </label>
        <br>
        <label>
            When are you coming back?<input id="return-date" type="text" name="return_date" autocomplete="off">
        </label>
        <br>
        <button type="button" id="qpx-query" data-origins='{{ origin_airport_codes }}' data-trip='{{ trip.trip_id }}'>Search</button>
        {% endif %}
    </form>

    <div id='mapBoxYo'></div>

    <div id="finished_query"></div>
    <br>
    <div id="flightResults"></div>
    <br>

    <a href="/trip/{{ trip.trip_id }}">Back to {{ trip.trip_name }}!</a>


    <script type="text/javascript">
        $(function() {
            $('#datepicker').datepicker({
              inline: true,
              showOtherMonths: true,
              dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            });
        });

            $("#depart-date-reQ").datepicker({dateFormat: "yy-mm-dd"});
            $("#depart-date").datepicker({dateFormat: "yy-mm-dd"});
            $("#return-date-reQ").datepicker({dateFormat: "yy-mm-dd"});
            $("#return-date").datepicker({dateFormat: "yy-mm-dd"});



  ////////////////////////////////////////////////////////////////////////////////

  //Next Function

  ////////////////////////////////////////////////////////////////////////////////

            $.get("/get-airports-to-autocomplete", function(result) {

                // alert(result["airports"]);
                var airportsAutocomplete = result["airports"];

                $("#destination-airport-code-reQ").autocomplete({
                    source: function(request, response) {
                        var filteredAirportsAutocomplete = $.map(airportsAutocomplete, function(item) {
                            if(item.indexOf(request.term.toUpperCase()) == 0){
                                return item;
                            }
                            else{
                                return null;
                            }
                        });
                        response(filteredAirportsAutocomplete);
                    },
                });

                $("#destination-airport-code").autocomplete({
                    source: function(request, response) {
                        var filteredAirportsAutocomplete = $.map(airportsAutocomplete, function(item) {
                            if(item.indexOf(request.term.toUpperCase()) == 0){
                                return item;
                            }
                            else{
                                return null;
                            }
                        });
                        response(filteredAirportsAutocomplete);
                    },
                });

            });

    </script>

    <style>
    pre.ui-coordinates {
      position:absolute;
      bottom:10px;
      left:10px;
      padding:5px 10px;
      background:rgba(0,0,0,0.5);
      color:#fff;
      font-size:11px;
      line-height:18px;
      border-radius:3px;
      }
    </style>
    <div id='map'></div>
    <pre id='coordinates' class='ui-coordinates'></pre>
    <script>
    L.mapbox.accessToken = "pk.eyJ1IjoibWlueWlzbWUiLCJhIjoiY2lvb3A0Nmw2MDAwaHV4bTN4NW4zMGFudyJ9.tk7PmSh3waHuHHnMyaDUYg";
    var map = L.mapbox.map('map', 'mapbox.streets')
        .setView([51.5074, -0.1278], 5);

    var coordinates = document.getElementById('coordinates');

    var marker = L.marker([51.5074, -0.1278], {
        icon: L.mapbox.marker.icon({
          'marker-color': '#3232ff'
        }),
        draggable: true
    }).addTo(map);

    // every time the marker is dragged, update the coordinates container
    marker.on('dragend', ondragend);

    // Set the initial marker coordinate on load.
    ondragend();

    function ondragend() {
        var m = marker.getLatLng();
        coordinates.innerHTML = 'Latitude: ' + m.lat + '<br />Longitude: ' + m.lng;
    }
    </script>



{% endblock %}

