{% extends 'base.html' %}
{% block content %}
    
    <h1>{{ trip.trip_name }}: All the infos!</h1>

    <br>

    <h3>All the peoples
        <ul>
            {% for usertrip in trip.usertrips%}
            <li>
                {{ usertrip.user.user_name }}
            </li>
            {% endfor %}
        </ul>
    </h3>

    <a href="/trip/{{ trip.trip_id }}/search">Searches the stuffs</a>

    <br>

    <a href="/trip/{{ trip.trip_id }}/share">Sharing all the trips!</a>

    <p>All stuffs in here based on search results and whatnots</p>

{% endblock %}