{% extends 'base.html' %}
{% block content %}
    
    <h1>{{ trip.trip_name }}: All the Searchings!</h1>

    <h3>Flight Search</h3>

    <form id="flight_search" action="/trip/{{ trip.trip_id }}/results" method="POST">
        <label>
            Where do you want to go?<input type="text" name="destination" value="e.g. SFO">
        </label>
        Remember to validate that this airport doesn't match any of the origin airports
        <br>
        <label>
            When do you want to depart?<input type="text" name="departure_date" value="e.g. 2016-06-11">
        </label>
        <br>
        <label>
            When are you coming back?<input type="text" name="return_date" value="e.g. 2016--06-21">
        </label>
        <br>
        <input type="submit" value="Search">
    </form>

    

{% endblock %}

